#ap2{
    -fx-background-color:#ffffff;
}

#hbox-custom-ava{
    -fx-spacing: 15;
}
#hbox-custom-ava:hover{
        -fx-background-color: #fe7c86;
        -fx-background-radius: 20;
        -fx-scale-x: 1.1;   
}
#hbox-custom-top{
    -fx-spacing: 10;
}
#hbox-custom-top:hover{
        -fx-background-color: #fe7c86;
        -fx-background-radius: 20;
        -fx-scale-x: 1;
}
#loginuser{
    -fx-padding-left: 20px;
}
/*toplable*/
#label{
    -fx-background-color: #FE4451;
    -fx-text-fill:#ffffff;
    -fx-font-family:Berlin Sans FB;
    -fx-background-radius: 0 20  0 20;
    -fx-border-radius:0 20  0 20;
}
#availableLable{
    -fx-background-color: #FE4451;
    -fx-text-fill:#ffffff;
    -fx-font-family:Berlin Sans FB;
    -fx-background-radius: 20 0  20 0;
    -fx-border-radius:20 0  20 0;
}
#top{
    -fx-background-radius: 0 20  0 20;
    -fx-border-radius:0 20  0 20;
     
}
#available{
    -fx-background-radius: 20 0  20 0;
    -fx-border-radius:20 0  20 0;
}
.refresh{
    -fx-background-color:#FE4451;
    -fx-background-radius:0 0 20 0;
}
.refresh:hover{
    -fx-background-color:#f14668;
    -fx-cursor: hand;
}
.refresh:pressed{
    -fx-background-color:#f14668;
    -fx-cursor: hand;
}
.closex:hover{
    -fx-cursor: hand;
}
.askbtn{
    -fx-background-radius: 10;
    -fx-background-color:#FE4451;
    -fx-text-fill:#ffffff;
}
.askbtn:hover{
    -fx-background-color:#f14668;
    -fx-cursor: hand;
}
.askbtn:pressed{
    -fx-background-color:#f14668;
    -fx-cursor: hand;
}

/*.list-view .list-cell*/
#available .list-cell:selected {
        -fx-background-color: #fe7c86;
        -fx-background-radius: 20;
        -fx-scale-y: 1.1;
}
#avaPlayer{
    -fx-font-family:Berlin Sans FB;
    -fx-font-weight:bold;
    -fx-font-size: 12pt ;
    -fx-text-fill:#ffffff;
}
#topPlayer{
    -fx-font-family:Berlin Sans FB;
    -fx-font-weight:bold;
    -fx-font-size: 12pt ;
    -fx-text-fill:#ffffff;
}
.list-view .list-cell {
    -fx-font-family:Berlin Sans FB;
    -fx-background-color: #FE4451;
    -fx-text-fill: #fff;
}


