/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2021, 7:08:09 PM
    Author     : mohamedbassiouny
*/

.symbolButtons:hover {
    -fx-background-color: #f14668;
    -fx-cursor: hand;
}

.symbolButtons {
    -fx-background-color: white;
}

.symbolButtons2 {
    -fx-background-color: #FE4451;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.symbolButtons2:hover {
    -fx-background-color: #f14668;
    -fx-cursor: hand;
}

.symbolButtons3 {
    -fx-background-color: #26de81;
}

.symbolButtons3:hover {
    -fx-background-color: #26de81;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px 20px;
    -fx-padding: 10px;
    -fx-cursor: hand;
}
.selectedButtonXO {
    -fx-background-color: #f14668;
}