.myDialog{
    -fx-background-color: #ffffff;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #FE4451;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-family:Berlin Sans FB;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-color:#fff ;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-family:Berlin Sans FB;
/*    -fx-fill: #292929;*/
}
